VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""
PRINTFUL_API_KEY=""
PRINTFUL_STORE_ID=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
RESEND_FROM_NAME=""
RESEND_WEBHOOK_SECRET=""
PRINTFUL_WEBHOOK_SECRET=""
SUPPORT_EMAIL=""
SITE_URL=""
VITE_GA_MEASUREMENT_ID=""
