VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""
PRINTFUL_API_KEY=""
PRINTFUL_STORE_ID=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
RESEND_FROM_NAME=""
RESEND_WEBHOOK_SECRET=""
PRINTFUL_WEBHOOK_SECRET=""
SUPPORT_EMAIL=""
SITE_URL=""
VITE_GA_MEASUREMENT_ID=""
KEXIAOZHAN_API_BASE_URL="https://kxzcnt.kexiaozhan.com"
KEXIAOZHAN_MACHINE_KEY=""
KEXIAOZHAN_ALLOWED_MACHINE_SN=""
KEXIAOZHAN_HANDOFF_MAX_AGE_SECONDS="900"
KEXIAOZHAN_HANDOFF_FUTURE_SKEW_SECONDS="300"
KEXIAOZHAN_CHECKOUT_UNIT_AMOUNT_CENTS="2999"
KEXIAOZHAN_CHECKOUT_SHIPPING_CENTS="499"
KEXIAOZHAN_CHECKOUT_CURRENCY="usd"
KEXIAOZHAN_CHECKOUT_PRODUCT_NAME=""
KEXIAOZHAN_PAYMENT_NOTIFY_ENABLED="false"
